@* doubleSpecEdit Template File *@
@(ds:DoubleSpec, questionid:Int, questionType:Int, specIndex:Int)

<strong>Double - </strong>
Name: <input name="dsVName-@questionid-@questionType-@specIndex" id="dsVName-@questionid-@questionType-@specIndex" value="@ds.name" placeholder="Variable name"/>
Min: <input name="dsMin-@questionid-@questionType-@specIndex" id="dsMin-@questionid-@questionType-@specIndex" value="@ds.min" placeholder="min value"/>
Max: <input name="dsMax-@questionid-@questionType-@specIndex" id="dsMax-@questionid-@questionType-@specIndex" value="@ds.max" placeholder="max value"/>
