@* editQuiz Template File *@
@(quizRow:Tables.QuizzesRow, taken:Boolean, probInfo:Seq[ProblemSpec])(implicit flash:Flash)

@*
Simplify down to listing questions and allowing them to be removed from the quiz. Consider option for adding to the quiz later.
*@
@main((if(quizRow.quizid<1) "Create" else "Edit")+"Quiz", true) {
	<h2>@{if(quizRow.quizid<1) "Create" else "Edit"}Quiz</h2>
	<hr>
	@if(taken) {
		<p>This quiz has been taken by one or more students and can no longer be edited. Here is a display of the quiz.</p>
	}
	<form method="POST" action="editQuizPost">
	<input type="hidden" name="quizid" id="quizid" value="@quizRow.quizid"/>
	<p>Name: <input type="text" name="name" id="name" value="@quizRow.name" placeholder="Name"/></p>
	<p>Description: <textarea name="description" id="description" placeholder="Description">@quizRow.description</textarea></p>
	@for((pr,index) <- probInfo.zipWithIndex) {
		<div id="prob-@index">
		<hr>
		@{pr match {
			case mc:MultipleChoice => multipleChoiceDisplay(mc)
			case wf:WriteFunction =>
			case wl:WriteLambda =>
			case we:WriteExpression =>
		} }
		<br>
		<button type="button" onclick="removeQuestionQuizAssoc(@pr.id,@pr.typeValue,@quizRow.quizid,@index)">Remove</button>
		</div>
	}
	<hr>
	<input type="submit" value="Submit"/>
	<a href="@routes.Application.instructorPage">Cancel Text Changes</a>
	</form>
}

@*
 - prevent edits if it has been taken, display instead
 - display name and description in text fields
 - display questions already there
 - add question buttons in JavaScript
   - add inputs/textareas to form
   - give them names based on type and what number they are
*@