@* intSpecEdit Template File *@
@(is:IntSpec, questionid:Int, questionType:Int, specIndex:Int)

<strong>Int - </strong>
Name: <input name="isVName-@questionid-@questionType-@specIndex" id="isVName-@questionid-@questionType-@specIndex" value="@is.name" placeholder="Variable name"/>
Min: <input name="isMin-@questionid-@questionType-@specIndex" id="isMin-@questionid-@questionType-@specIndex" value="@is.min" placeholder="min value"/>
Max: <input name="isMax-@questionid-@questionType-@specIndex" id="isMax-@questionid-@questionType-@specIndex" value="@is.max" placeholder="max value"/>
