@* listIntSpecEdit Template File *@
@(lis:ListIntSpec, questionid:Int, questionType:Int, specIndex:Int)

<strong>List[Int] - </strong>
Name: <input name="lisVName-@questionid-@questionType-@specIndex" id="lisVName-@questionid-@questionType-@specIndex" value="@lis.name" placeholder="Variable name"/>
Min Length: <input name="lisMinLen-@questionid-@questionType-@specIndex" id="lisMinLen-@questionid-@questionType-@specIndex" value="@lis.minLen" placeholder="min length"/>
Max Length: <input name="isMaxLen-@questionid-@questionType-@specIndex" id="lisMaxLen-@questionid-@questionType-@specIndex" value="@lis.maxLen" placeholder="max length"/>
Min: <input name="lisMin-@questionid-@questionType-@specIndex" id="lisMin-@questionid-@questionType-@specIndex" value="@lis.min" placeholder="min value"/>
Max: <input name="lisMax-@questionid-@questionType-@specIndex" id="lisMax-@questionid-@questionType-@specIndex" value="@lis.max" placeholder="max value"/>
