@* stringSpecEdit Template File *@
@(ss:StringSpec, questionid:Int, questionType:Int, specIndex:Int)

<div>
	<strong>String - </strong>
	Name: <input name="ssVName-@questionid-@questionType-@specIndex" id="isVName-@questionid-@questionType-@specIndex" value="@ss.name" placeholder="Variable name"/>
	Length: <input name="ssLength-@questionid-@questionType-@specIndex" id="ssLength-@questionid-@questionType-@specIndex" value="@ss.length" placeholder="Length"/>
	Generating Code: <textarea name="ssGen-@questionid-@questionType-@specIndex" id="ssGen-@questionid-@questionType-@specIndex" placeholder="Gen Code">@ss.genCode</textarea>
</div>
