@* viewCourse Template File *@
@(courseData: CourseData)(implicit flash: Flash)

    @main("View Course", true) {
        <h2>@courseData.row.code-@courseData.row.section-@courseData.row.semester</h2>
        <h3>Students</h3>
        <p>Add Student (TODO)</p>
        <table border="1">
            <tr><th>Username</th><th>Correct (out of @courseData.totalQuestions)</th><th>Remove</th></tr>
            @for(student <- courseData.students) {
                <tr>
                    <td>@student.username</td>
                    <td>@student.correct</td>
                    <td><button type="button" onclick="removeStudentFromCourse(???,@courseData.row.courseid)">Remove</button></td>
                </tr>
            }
        </table>
        <hr>
        <h3>Quizzes</h3>
        <p>Add Quiz (TODO)</p>
        <table border="1">
            <tr><th>Name</th><th>Close Time</th><th>Remove</th></tr>
            @for(quiz <- courseData.quizzes) {
                <tr>
                    <td>@quiz.row.name</td>
                    <td>@quiz.time</td>
                    <td><button type="button" onclick="removeQuizFromCourse(@quiz.row.quizid,@courseData.row.courseid)">Remove </button></td>
                </tr>
            }
        </table>
        <hr>
        <h3>Instructors</h3>
        <p>Add Instructor (TODO)</p>
        <table border="1">
            <tr><th>Username</th><th>Remove</th></tr>
            @for(instructor <- courseData.instructors) {
                <tr>
                    <td>@instructor.username</td>
                    <td><button type="button" onclick="removeInstructorFromCourse(@instructor.userid,@courseData.row.courseid)">Remove </button></td>
                </tr>
            }
        </table>
    }
@*
Add student link
Table of students with grade ratios with remove link (prompt to be certain)
- link to student display page

Table of quizzes with remove link

Add instructor link
Table of instructors with remove link

*@