@* writeFunctionEdit Template File *@
@(spec:WriteFunction)
<p>
Prompt:<br>
<textarea name="funcPromt-@spec.id" id="funcPrompt-@spec.id">@spec.prompt</textarea><br>

Function Name: <input type="text" name="funcName-@spec.id" id="funcName-@spec.id" value="@spec.functionName"/><br>

Correct Code: <br>
<textarea name="funcCode-@spec.id" id="funcCode-@spec.id">@spec.correctCode</textarea><br>

Variable Specs: <br>
<ul id="funcul-@spec.id">
	@for((vs,specIndex) <- spec.varSpecs.zipWithIndex) {
		<li id="funcil-@spec.id-@specIndex">
			@{vs match {
				case is:IntSpec => intSpecEdit(is, spec.id, ProblemSpec.FunctionType, specIndex)
				case ds:DoubleSpec => doubleSpecEdit(ds, spec.id, ProblemSpec.FunctionType, specIndex)
				case ss:StringSpec => stringSpecEdit(ss, spec.id, ProblemSpec.FunctionType, specIndex)
				case lis:ListIntSpec => listIntSpecEdit(lis, spec.id, ProblemSpec.FunctionType, specIndex)
				case ais:ArrayIntSpec => arrayIntSpecEdit(ais, spec.id, ProblemSpec.FunctionType, specIndex)
				case lss:ListStringSpec => listStringSpecEdit(lss, spec.id, ProblemSpec.FunctionType, specIndex)
			}}
			<button type="button" onclick="removeSpec('func',@spec.id,@specIndex)">Remove</button>
		</li>
	}
</ul><br>
<select id="funcNewSpecType-@spec.id">
	<option value="@VariableSpec.IntSpecType">Int</option>
	<option value="@VariableSpec.DoubleSpecType">Double</option>
	<option value="@VariableSpec.StringSpecType">String</option>
	<option value="@VariableSpec.IntListSpecType">List[Int]</option>
	<option value="@VariableSpec.IntArraySpecType">Array[Int]</option>
	<option value="@VariableSpec.StringListSpecType">List[String]</option>
</select> <button type="button" onclick="newSpecType('func',@spec.id)">Add</button> <br>

Number of Test Runs: <input type="text" name="funcRuns-@spec.id" id="funcRuns-@spec.id" value="@spec.numRuns"/>
</p>
